# dependencies
node_modules/

# builds
dist/

# macOS
.DS_Store

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor files
.vscode/
.idea/

# env files (если появятся)
.env
.env.local
